:root {
    --width-playing-field: 550px;
}

/*** БАЗОВЫЕ ЭЛЕМЕНТЫ ***/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    z-index: 1;
    background-color:lightpink;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
    color: #000000;
    font-size: 20px;
}

.page-content {
    text-align: center;
    margin: auto 0;
}

.playing-field {
    margin: 0 auto;
    padding: 2px 0 0 2px;
    height: var(--width-playing-field);
    width: var(--width-playing-field);
    display: flex;
    justify-content: stretch;
    flex-grow: 3;
    align-items: stretch;
}

.square-list {
    height: 100%;
    padding: 3px 0 5px 5px;
    border-radius: 5px;
    height: calc(var(--width-playing-field) - 10px);
    width: calc(var(--width-playing-field) - 10px);
    display: flex;
    text-align: center;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    flex-grow: 2;
}

.level {
    margin-left: 30px;
    color: black;
    margin-top: 20px;
}

.footer {
    flex: 0;
    text-align: center;
    background-color: lightgray;
    z-index: 10;
    margin-top: auto;
    color: black;
    opacity: .6;
}

.game-header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer {
    font-size: 30px;
    margin-left: auto;
    margin-right: 60px;
    color: black;
}

